typeattribute sysinit coredomain;

init_daemon_domain(sysinit)

allow sysinit shell_exec:file rx_file_perms;

userdebug_or_eng(`
  permissive sysinit;
')
